{% include "header.html" %}

      <tr class="middle-row">
        <td style="background-color: #e0f7fa;">
          <h2>Add new device</h2>
          Initialy add a device and afterwards add leases to the device. So it will be visible under the device in the frontend "Show Logs"</br></br>
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="add_device">
            <table>
                <tr>
                    <td style="min-width: 160px;">{{ form.device_id.label_tag }}</td>
                    <td>{{ form.device_id }}</td>
                </tr>
                <tr>
                    <td>{{ form.description.label_tag }}</td>
                    <td>{{ form.description }}</td>
                </tr>
            </table>
            <button type="submit">Approve Device</button>
          </form>          
        </td>
        <td style="background-color: #e0f7fa;">
          <h2>Assign Leases to Devices</h2>
          {% for lease, form in entries %}
            <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 1em;">
              <p>
                <strong>{{ lease.mac_address }}</strong> @ {{ lease.ip_address }} <br>
                Hostname: ({{ lease.hostname }})<br>
                Manufacturer: ({{ lease.manufacturer }})<br>
                Lease time: {{ lease.lease_start }} → {{ lease.lease_end }}
              </p>
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="assign_lease">
                {{ form.as_p }}
                <button type="submit">Assign</button>
              </form>
            </div>
          {% endfor %}
          {% if not entries %}
            <p><em>No new leases found.</em></p>
          {% endif %}
        </td>
      </tr>

{% include "footer.html" %}